# BAIS 6040 Programming in Python

## Spring 2021

## Group 3 Homework 6

In [9]:
# Import libraries

import pandas as pd

In [10]:
# Loading in project data for use in Homework 6

compiledcountydata_dir = "https://raw.githubusercontent.com/jaredbarkley0/PythonGroupProject/master/MN%20County%20Data_032021.csv"
compiledcountydata = pd.read_csv(compiledcountydata_dir)
compiledcountydata

,Unnamed: 0,County,Total Positive Cases,Total Deaths,Total No Longer Needing Isolation,Pop Density,Density Factor,Casesinfacility,FacilitiesinCounty
0,0,Aitkin,1191,33,1147,8.0,148.875000,118.0,4.0
1,1,Anoka,33391,390,32583,753.9,44.291020,1675.0,35.0
2,2,Becker,3131,42,3032,22.8,137.324561,294.0,8.0
3,3,Beltrami,3386,51,3293,14.8,228.783784,264.0,11.0
4,4,Benton,4482,90,4348,94.4,47.478814,557.0,11.0
...,...,...,...,...,...,...,...,...,...
83,83,Wilkin,677,11,654,8.7,77.816092,36.0,2.0
84,84,Winona,4193,49,4087,79.9,52.478098,277.0,9.0
85,85,Wright,12554,116,12290,178.3,70.409422,687.0,20.0
86,86,Yellow Medicine,977,17,957,13.4,72.910448,79.0,3.0
87,87,Unknown/Missing,444,0,437,NaN,NaN,NaN,NaN

In [11]:
# Removing unnecessary columns

compiledcountydata[["County","Total Positive Cases", "Total Deaths", "Pop Density", "Density Factor", "Casesinfacility","FacilitiesinCounty"]]

,County,Total Positive Cases,Total Deaths,Pop Density,Density Factor,Casesinfacility,FacilitiesinCounty
0,Aitkin,1191,33,8.0,148.875000,118.0,4.0
1,Anoka,33391,390,753.9,44.291020,1675.0,35.0
2,Becker,3131,42,22.8,137.324561,294.0,8.0
3,Beltrami,3386,51,14.8,228.783784,264.0,11.0
4,Benton,4482,90,94.4,47.478814,557.0,11.0
...,...,...,...,...,...,...,...
83,Wilkin,677,11,8.7,77.816092,36.0,2.0
84,Winona,4193,49,79.9,52.478098,277.0,9.0
85,Wright,12554,116,178.3,70.409422,687.0,20.0
86,Yellow Medicine,977,17,13.4,72.910448,79.0,3.0
87,Unknown/Missing,444,0,NaN,NaN,NaN,NaN

# Matplotlib

# Seaborn

# Plotly